{% include 'header.html' %}

{% include 'footer.html' %}

<body>

<!-- Start of main page -->
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Ciara's Pizza Place</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Welcome!</h2>

		<br>
        Welcome to Ciara's Pizza Place, login or register.

		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div><!-- /content -->

	
	
</div><!-- /main page -->

<!-- Start of login page -->
<div data-role="page" id="login" data-theme="a">
	<div data-role="header">
		<h1>Login page</h1>
	</div><!-- /header -->

    <div role="main" class="ui-content">
		<h2>Login</h2>
			<span id="loginNameError"></span><br>
			Username <input type="text" name="login_username" id="login_username" value="">
			<span id="loginPasswordError"></span><br>
			Password <input type="password" name="login_pass" id="login_pass" value="">
			<button class="ui-btn" id="loginButton">Submit</button>
	</div><!-- /content -->
	
</div>


<!-- Start of register page -->
<div data-role="page" id="register" data-theme="a">
	<div data-role="header">
		<h1>Register</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
		<h2>Register</h2>   
					
			Username <input type="text" name="username" id="username" value="">
			
			Password <input type="password" name="pass" id="pass" value="" autocomplete="off">
			
			Email <input type="text" name="email" id="email" value="" autocomplete="off">
			Account Type <select name="acctype" id="acctype">
        			<option value="Customer">Customer</option>
        			<option value="Driver">Driver</option>
        			<option value="Manager">Manager</option>
    			 		</select>
			<button class="ui-btn" id="registerButton">Submit</button>
	</div><!-- /content -->

</div>

<!-- Start of driver page -->
<div data-role="page" id="driver" data-theme="a">
    <div data-role="header">
		<h1>Driver's Page</h1>
	</div><!-- /header -->

    <div role="main" class="ui-content">
	


	</div><!-- /content -->
	
	
</div>

<!-- Start of manager page -->
<div data-role="page" id="manager" data-theme="a">
    <div data-role="header">
		<h1>Manager's Page</h1>
	</div><!-- /header -->

    <div role="main" class="ui-content">
	


	</div><!-- /content -->
	
	
</div>



<!-- Start of customer page -->
<div data-role="page" id="customer" data-theme="a">
    <div data-role="header">
		<h1>Customer's Page</h1>
	</div><!-- /header -->

    <div role="main" class="ui-content">
	<script>
		// template for a product
		class product {
			constructor(name, price, qty) {
				this.name = name;
				this.price = price;
				this.qty = qty;
			}
		}

		// define our products
		hawaiian = new product("hawaiian", 11.00, 0);
		newyorker = new product("newyorker", 11.00, 0);
		housespecial = new product("housespecial", 11.00, 0);
		custom = new product("custom", 11.00, 0);
		garlic = new product("garlic", 5.00, 0);
		potato = new product("potato", 5.00, 0);
		
		var products = []; // array
		products.push(hawaiian);
		products.push(newyorker);
		products.push(housespecial);
		products.push(custom);
		products.push(garlic);
		products.push(potato);
	</script>
	
	<h2>Pizza</h2>
	<div role="content" class="ui-content">
		<table data-role="table" id="pizza-table" data-mode="reflow" class="ui-responsive">
			<thead>
				<tr>
					<th>Item</th>
					<th>Price</th>
					<th>Add/Delete</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>			
					<th>Hawaiian Pizza</th>    	
					<th>€11.00</th>
					<th><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct1" productname="hawaiian">Add</button>
						<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct1" productname="hawaiian">Delete</button></th>
					<th><input type="text" id="hawaiianTotal" readonly/></th>
				</tr>
				<tr>			
					<th>New Yorker Pizza</th>    	
					<th>€11.00</th>
					<th><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct2" productname="newyorker">Add</button>
						<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct2" productname="newyorker">Delete</button></th>
					<th><input type="text" id="newyorkerTotal" readonly/></th>
				</tr>
				<tr>			
					<th>House Special Pizza</th>    	
					<th>€11.00</th>
					<th><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct3" productname="housespecial">Add</button>
						<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct3" productname="housespecial">Delete</button></th>
					<th><input type="text" id="housespecialTotal" readonly/></th>
				</tr>
				<tr>			
					<th>Custom Pizza</th>    	
					<th>€11.00</th>
					<th><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct4" productname="custom">Add</button>
						<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct4" productname="custom">Delete</button></th>
					<th><input type="text" id="customTotal" readonly/></th>
				</tr>
			</tbody>
		</table>
	</div>
	<h2>Sides</h2>
	<div role="content" class="ui-content">
		<table data-role="table" id="sides-table" data-mode="reflow" class="ui-responsive">
			<thead>
				<tr>
					<th>Item</th>
					<th>Price</th>
					<th>Add/Delete</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>			
					<th>Garlic Bread</th>    	
					<th>€5.00</th>
					<th><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct5" productname="garlic">Add</button>
						<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct5" productname="garlic">Delete</button></th>
					<th><input type="text" id="garlicTotal" readonly/></th>
				</tr>
				<tr>			
					<th>Potato Wedges</th>    	
					<th>€5.00</th>
					<th><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct6" productname="potato">Add</button>
						<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct6" productname="potato">Delete</button></th>
					<th><input type="text" id="potatoTotal" readonly/></th>
				</tr>
			</tbody>
		</table>
	</div>
				  
	<a href="#panelTotal" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a" data-transition="pop">Checkout</a>
	
	<div data-role="panel" data-display="overlay" id="panelTotal" data-theme="a" class="ui-corner-all">
				<form>
					<div style="padding:10px 20px;">
						<h3>Order Total</h3>
						<input type="text" id="totalOrderPrice" readonly/>
				    	<button onclick="checkout()" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-shop">Checkout</button>
						<a href="#customer" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back" data-rel="close">Keep Shopping</a>
					</div>
				</form>
			</div>
	</div><!-- /content -->
	
</div>
</body>

<script>
			
	$('[id^=addProduct]' ).click(function() {

    var p = $(this).attr('productname'); // find out what was clicked
    
    var arrayLength = products.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = products[i]; // get one product at a time
		 console.log(pro.name);
		
        if(p == pro.name) { // check if the product we are looking for is the one we have.
            
            pro.qty = pro.qty + 1; // remove one from the qty
			
			console.log(pro.qty);
            
            $( "#"+pro.name+"Qty" ).val(pro.qty); // if we looking for cookies, pro.name+Qty becomes, cookiesQty

			$( "#"+pro.name+"Total" ).val(pro.qty * pro.price);
			
			updateCart();
			
			}
		}
	});

	$('[id^=removeProduct]').click(function(){

	var p = $(this).attr('productname');
	
	var arrayLength = products.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = products[i] // get one product at a time
        console.log(pro.name);
        
        if(p == pro.name) { // check if the product we are looking for is the one we have.
            
            pro.qty = pro.qty - 1; // remove one from the qty
			
			console.log(pro.qty);
            
            $( "#"+pro.name+"Qty" ).val(pro.qty); // if we looking for cookies, pro.name+Qty becomes, cookiesQty

			$( "#"+pro.name+"Price" ).val(pro.qty * pro.price);
			
			updateCart();
			
			}
		}
	});
	
</script>

<script>

	$( "#viewCart" ).click(function() {
		updateCart();
		});
		
    
	function updateCart(){
	
		var totalOrderPrice = 0;
		var arrayLength = products.length;
		for (var i = 0; i < arrayLength; i++) { // loop over the products
		
			totalOrderPrice += products[i].qty * products[i].price;
				
	}		
	$("#totalOrderPrice").val(totalOrderPrice);
	}
</script>

<script>
function checkout(){

    var ser = '';

     var arrayLength = products.length;
     
        for (var i = 0; i < arrayLength; i++) { // loop over the products
            
            var pro = products[i] // get one product at a time
            console.log(pro.name);
            console.log(pro.qty);
            
            ser = ser + pro.name + '-' + pro.qty + '=';
            }

// jQuery post and send the ser.

    $.post( "/catchTheCart", { placedby: "Ciara", ser: ser })
      .done(function( data ) {
       alert( "Data Loaded: " + data );
      });

console.log(ser);
}
</script>

<script>
$( "#loginButton" ).click(function() {
  
      var un = $( "#login_username" ).val();
      console.log(un);
      
      var pw = $( "#login_pass" ).val();
      console.log(pw);
           
      $.post( "/backend", { type: "login", username:un, password:pw})
     .done(function( data ) {
           
        if(data == 'Customer'){
            window.location="/index#customer";
        }
        else if(data == 'Driver'){
            window.location="/index#driver";
        }
		else if(data == 'Manager'){
            window.location="/index#manager";
		}
		});
});
</script>

<script>
$( "#registerButton" ).click(function() {
  
      var un = $( "#username" ).val();
      console.log(un);
      
      var pw = $( "#pass" ).val();
      console.log(pw);
	  
	  var em = $( "#email" ).val();
      console.log(em);
      
      var at = $( "#acctype" ).val();
      console.log(acctype);
      
      $.post( "/backend", { type: "register", username:un, password:pw, email:em, acctype:at})
     .done(function( data ) {
        alert( "Data Loaded: " + data );
		
		if(data == 'Customer'){
            window.location="/index#customer";
        }
        else if(data == 'Driver'){
            window.location="/index#driver";
        }
		else if(data == 'Manager'){
            window.location="/index#manager";
		}
		});  
});
</script>

<script>
function validateElements(){
	
	// check the login_username is not empty
	if($("#login_username").val() == ""){
	
		$("#loginNameError").html("Please enter in a username");
	}
	else{
		$("#loginNameError").html("");
	}
	
	// check the login_password is not empty 
	if($("#login_pass").val() == ""){
	
		$("#loginPasswordError").html("Please enter in a password");
	}
	else{
		$("#loginPasswordError").html("");
	}	
}
$( "#login").focusout(function(){
	validateElements();
});
</script>

</html>