{% include 'header.html' %}

{% include 'footer.html' %}

<body>

<!-- MAIN PAGE -->
<div data-role="page" id="main">
	<div data-role="header">
		<h1>Ciara's Pizza Place</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Welcome!</h2>

		<br>
        Welcome to Ciara's Pizza Place, login or register.

		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div><!-- /content -->

	
	
</div><!-- END MAIN PAGE -->

<!-- START OF LOGIN PAGE-->
<div data-role="page" id="login" data-theme="a">
	<div data-role="header">
		<h1>Login page</h1>
	</div><!-- /header -->

    <div role="main" class="ui-content">
		<h2>Login</h2>
			<span id="loginNameError"></span><br>
			Username <input type="text" name="login_username" id="login_username" value="" autofocus>
			<span id="loginPasswordError"></span><br>
			Password <input type="password" name="login_pass" id="login_pass" value="">
			<button class="ui-btn" id="loginButton">Submit</button>
	</div><!-- /content -->	
</div><!-- END OF LOGIN PAGE -->


<!-- START OF REGISTER PAGE -->
<div data-role="page" id="register" data-theme="a">
	<div data-role="header">
		<h1>Register</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
		<h2>Register</h2>   
					
			Username <input type="text" name="username" id="username" value="">
			
			Password <input type="password" name="pass" id="pass" value="" autocomplete="off">
			
			Email <input type="text" name="email" id="email" value="" autocomplete="off">
			
			Account Type <select name="acctype" id="acctype">
        			<option value="Customer">Customer</option>
        			<option value="Driver">Driver</option>
        			<option value="Manager">Manager</option>
    			 		</select>
			<button class="ui-btn" id="registerButton">Submit</button>
	</div><!-- /content -->
</div><!-- END OF REGISTER PAGE -->

<!-- START OF DRIVER PAGE -->
<div data-role="page" id="driver" data-theme="a">
    <div data-role="header">
		<h1>Driver's Page</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Orders for delivery</h2>
			<!-- <button id="viewOrders">View orders for deliver!</button> -->
			<div id="orders"></div>
				<h3>Enter OrderID to update delivery status</h3>
				<input type="text" name="orderid" id="orderid">
				<button id="delivered">Delivered</button>
		

			<div id="weatherResponse"></div>
			
			<button onclick="logout()">Logout</button>
	</div><!-- /content -->
</div><!-- END OF DRIVER PAGE -->


<!-- START OF MANAGER PAGE -->
<div data-role="page" id="manager" data-theme="a">
    <div data-role="header">
		<h1>Manager's Page</h1>
	</div><!-- /header -->

    <div role="main" class="ui-content">

	<button id="viewOrder">View all orders!</button>
	
	<div id="order"></div>
	
	<br>
	
	<div id="total"></div>
	
	
	</div><!-- /content -->
	<button onclick="logout()">Logout</button>
</div><!-- END OF MANAGER PAGE -->


<!-- START OF CUSTOMER PAGE -->
<div data-role="page" id="customer" data-theme="a">
    <div data-role="header">
		<h1>Customer's Page</h1>
	</div><!-- /header -->

    <div role="main" class="ui-content">
	<script>
		// template for a product
		class product {
			constructor(name, price, qty) {
				this.name = name;
				this.price = price;
				this.qty = qty;
			}
		}

		// define our products
		hawaiian = new product("hawaiian", 11.00, 0);
		newyorker = new product("newyorker", 11.00, 0);
		housespecial = new product("housespecial", 11.00, 0);
		custom = new product("custom", 11.00, 0);
		garlic = new product("garlic", 5.00, 0);
		potato = new product("potato", 5.00, 0);
		coke = new product ("coke", 1.00, 0);
		fanta = new product ("fanta", 1.00, 0);
		sprite = new product ("sprite", 1.00, 0);
		
		var products = []; // array
		products.push(hawaiian);
		products.push(newyorker);
		products.push(housespecial);
		products.push(custom);
		products.push(garlic);
		products.push(potato);
		products.push(coke);
		products.push(fanta);
		products.push(sprite);
		
	</script>
	<div id="orderOptions">
	<div data-role="header">
		<h2>Pizza</h2>
	</div>
		<div>
			<table data-role="table" id="pizza-table" data-mode="reflow" class="ui-responsive">
				<thead>
					<tr>
						<th>Item</th>
						<th>Price</th>
						<th>Add/Delete</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>			
						<td>Hawaiian Pizza</td>    	
						<td>€11.00</td>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct1" productname="hawaiian">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct1" productname="hawaiian">Delete</button></td>
						<td><input type="text" id="hawaiianTotal" readonly/></td>
					</tr>
					<tr>			
						<td>New Yorker Pizza</td>    	
						<td>€11.00</td>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct2" productname="newyorker">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct2" productname="newyorker">Delete</button></td>
						<td><input type="text" id="newyorkerTotal" readonly/></td>
					</tr>
					<tr>			
						<td>House Special Pizza</td>    	
						<td>€11.00</td>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct3" productname="housespecial">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct3" productname="housespecial">Delete</button></td>
						<td><input type="text" id="housespecialTotal" readonly/></td>
					</tr>
					<tr>			
						<td>Custom Pizza</td>    	
						<td>€11.00</td>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct4" productname="custom">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct4" productname="custom">Delete</button></td>
						<td><input type="text" id="customTotal" readonly/></td>
					</tr>
				</tbody>
			</table>
		</div>
	<div data-role="header">
		<h2>Sides</h2>
	</div>
		<div>
			<table data-role="table" id="sides-table" data-mode="reflow" class="ui-responsive">
				<thead>
					<tr>
						<th>Item</th>
						<th>Price</th>
						<th>Add/Delete</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>			
						<td>Garlic Bread</td>
						<td>€5.00</td>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct5" productname="garlic">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct5" productname="garlic">Delete</button></td>
						<td><input type="text" id="garlicTotal" readonly/></td>
					</tr>
					<tr>			
						<td>Potato Wedges</th>    	
						<td>€5.00</th>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct6" productname="potato">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct6" productname="potato">Delete</button></th>
						<td><input type="text" id="potatoTotal" readonly/></th>
					</tr>
				</tbody>
			</table>
		</div>
	<div data-role="header">
	<h2>Drinks</h2>
	</div>
		<div>
			<table data-role="table" id="drinks-table" data-mode="reflow" class="ui-responsive">
				<thead>
					<tr>
						<th>Item</th>
						<th>Price</th>
						<th>Add/Delete</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>			
						<td>Coca-Cola</td>    	
						<td>€1.00</td>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct7" productname="coke">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct7" productname="coke">Delete</button></td>
						<td><input type="text" id="cokeTotal" readonly/></td>
					</tr>
					<tr>			
						<td>Fanta</td>    	
						<td>€1.00</td>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct8" productname="fanta">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct8" productname="fanta">Delete</button></td>
						<td><input type="text" id="fantaTotal" readonly/></td>
					</tr>
					<tr>			
						<td>Sprite</td>    	
						<td>€1.00</td>
						<td><button data-icon="plus" data-iconpos="left" data-inline="true" id="addProduct9" productname="sprite">Add</button>
							<button data-icon="minus" data-iconpos="left" data-inline="true" id="removeProduct9" productname="sprite">Delete</button></td>
						<td><input type="text" id="spriteTotal" readonly/></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br><label for="textarea-1" style="strong"><b>Customer comments: </b></label><textarea name="comments" id="comments"></textarea>
	</div>
	
	<div id="showOrder">
		<h2> Your order details:</h2><br>
			<div id="orderDetails"></div>
			<span id="addressError"></span><br>
			<br><label for="textarea-1" style="strong"><b>Customer Address: </b></label><textarea name="address" id="address"></textarea>
			<input type="text" id="totalOrderPrice" size="15" readonly/>
	</div>
	
	<button href="#showOrder" data-ajax="false" id="placeOrder" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-shop">Review Order</button>
	
    <button id="goBack">Go back to order </button>
    
    <button id="completeOrder" onclick="checkout()">Complete order </button>
	
	
</div><!-- END OF CUSTOMER PAGE -->

<div id="thanks">
	<p>Thanks for your order!  It's currently being prepared and will be with you shortly.</p>
	<br>
	<button id="placeAnother">Place another order?</button>
	<button onclick="logout()">Logout</button>
</div>
<div id="previous"><h2>Here's your previous orders.</h2></div>
<div id="custOrders"></div>
</body>
<!-- END OF BODY -->

<script>
	$("#goBack").hide();
	$("#showOrder").hide();
	$("#completeOrder").hide();
	$("#thanks").hide();
	
	
	//adding products and calculating total of each product - working
	$('[id^=addProduct]' ).click(function() {

    var p = $(this).attr('productname'); // find out what was clicked
    
    var arrayLength = products.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = products[i]; // get one product at a time
		console.log(pro.name);
		
        if(p == pro.name) { // check if the product we are looking for is the one we have.
            
            pro.qty = pro.qty + 1; // remove one from the qty
			
			console.log(pro.qty);
            
            $( "#"+pro.name+"Qty" ).val(pro.qty); // if we looking for cookies, pro.name+Qty becomes, cookiesQty

			$( "#"+pro.name+"Total" ).val(pro.qty * pro.price);
			
			updateCart();
			
			}
		}
	});

	// deleting products and calculating total of each product - working
	$('[id^=removeProduct]').click(function(){

	var p = $(this).attr('productname');
	
	var arrayLength = products.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = products[i] // get one product at a time
        console.log(pro.name);
        
        if(p == pro.name) {		// check if the product we are looking for is the one we have.
       
				pro.qty = pro.qty - 1; // remove one from the qty
			
				console.log(pro.qty);
            
				$( "#"+pro.name+"Qty" ).val(pro.qty); // if we looking for cookies, pro.name+Qty becomes, cookiesQty

				$( "#"+pro.name+"Total" ).val(pro.qty * pro.price);
			
				updateCart();
			
			}
		}
	});
		
    //updating cart with total of all products - working
	function updateCart(){
	
		var totalOrderPrice = 0;
		var arrayLength = products.length;
		for (var i = 0; i < arrayLength; i++) { // loop over the products
		
			totalOrderPrice += products[i].qty * products[i].price;
				
	}		
	$("#totalOrderPrice").val("Total order price: €" + totalOrderPrice);
	}
	
	// placing the order - 
	$( "#placeOrder" ).click(function() {

		$("#orderOptions").hide(); // hide the order options
		
		$("#custOrders").hide();
		
		$("#showOrder").show();
		
		$("#goBack").show();
		
		$("#completeOrder").show();
		
		$("#placeOrder").hide();		
		

			var content = '';// build up the content
 
			content = content + '<b>Products: </b><br>';
    
			<!-- var pizza = $("input[name=pizza]").each(function() { -->
				<!-- if(this.checked == true) { // filter only the ones that we selected. -->
					<!-- content = content + this.value + ":" + this.checked + '<br>'; -->
				<!-- } -->
			<!-- }); -->
    
			var comments = $("#comments").val(); // get the comments
    
				content = content + '<b>Additional order comments: </b></br>';
				content = content + comments + '<br>';
    
				var username = '';
    
    
				$.post( "/backend", { type: "getusername"} )
					.done(function( data ) {
        
					username = data; // whatever data comes back, store it in the username variable
        
					content = content + "<p>Thank you " + username + ".<br>Please enter your address for delivery.";
    
					// the updating of the div, is INSIDE the .done function above, as we need to wait to get it back!
					$("#orderDetails").html(content); 
        
					});
    });
	
	
	$("#goBack").click(function(){
	
		$("#orderOptions").show();
	 
		$("#goBack").hide();
    
		$("#orderDetails").html(""); // wipe the older order display

	});
		
	// checkout function - working
	function checkout(){

		var placedby = '';
		
		var placedbyId = 0;
		
		var ser = '';
		
		var address = $("#address").val();
		
		var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			
			var orderdate = (dd + '-' + (String(mm).padStart(2,0)) + '-' + yyyy);
			
		var price = 0;
		
		var arrayLength = products.length;
		
		$.post( "/backend", { type: "getusername"} )
			.done(function( data ) {
				placedby = data; // whatever data comes back, store it in the username variable
		
		$.post( "/backend", { type: "getuserid"} )
			.done(function( data ) {
				placedbyId = data;
     
			for (var i = 0; i < arrayLength; i++) { // loop over the products
            
				var pro = products[i] // get one product at a time
				console.log(pro.name);
				console.log(pro.qty);
            
				ser = ser + pro.name + '-' + pro.qty + '=';
            }

			for (var i = 0; i < arrayLength; i++) { // loop over the products
		
				price += products[i].qty * products[i].price;
			}
			console.log(placedbyId);
		
			// jQuery post and send the ser.
			$.post( "/catchTheCart", { placedby: placedby, placedbyId: placedbyId, ser: ser, address: address, orderdate: orderdate, status: "pending", price: price})
				.done(function( data ) {
				<!-- alert( "Data Loaded: " + data ); -->
			});
			});
			
		});
		
		console.log(placedbyId);
		
		$("#orderOptions").hide();
		$("#showOrder").hide();
		$("#goBack").hide();
		$("#completeOrder").hide();
		$("#previous").hide();
		$("#custOrders").hide();
		
		$("#thanks").show();
	}

// call to view all pending orders - working

		var pend = "";
		
		$.post( "/viewAll", {type: "viewDriver", pend: "pending"})
		
			.done(function( data ) {
			
			$("#viewOrders").hide();
			
			orders = data;
			
			$("#orders").html(orders)
	
		});
		
// call to update order status
$("#delivered").click(function(){

	var orderid = $("#orderid").val();
	
	$.post( "/viewAll", {type: "updateDelivery", orderid: orderid})
		.done(function(data){
			
			$("#viewOrders").show();
			
			alert(data);
			
			document.location.reload(true);
		
			});
});
	
// call to view all customers orders - working

		var placedbyId = 0;
		
		$.post( "/backend", { type: "getuserid"} )
			.done(function( data ) {
				placedbyId = data;
		
		$.post( "/viewAll", {type: "viewCustomers", placedbyId: placedbyId})
		
			.done(function( data ) {
			
			$("#viewCustOrders").hide();
			
			orders = data;
			
			$("#custOrders").html(orders)
		});
	});

	
// call to view all orders - working
$( "#viewOrder" ).click(function(){
		
		$.post( "/viewAll", {type: "viewAll"})
		
			.done(function( data ) {
			
			$("#viewOrder").hide();
			
			orders = data;
			
			$("#order").html(orders)
		});
	});
	
		$.post( "/viewAll", {type: "total"})
		
			.done(function( data ) {
			
			total = data;
			
			$("#total").html("Total revenue for all orders is €" + total)
		});
	

// go back to orderpage
$( "#placeAnother" ).click(function() {
	$("#orderOptions").show();
	});
	
		
// logging in - working
$( "#loginButton" ).click(function() {
  
      var un = $( "#login_username" ).val();
      console.log(un);
      
      var pw = $( "#login_pass" ).val();
      console.log(pw);
           
		var allOk = validateElements();
		   if(allOk == true){
				  $.post( "/backend", { type: "login", username:un, password:pw})
				 .done(function( data ) {
					<!-- alert( "Data Loaded: " + data ); -->
					   
					if(data == 'Customer'){
						window.location="/index#customer";
					}
					else if(data == 'Driver'){
						window.location="/index#driver";
					}
					else if(data == 'Manager'){
						window.location="/index#manager";
					}
					});
		
		
		}
});

// registering - working
$( "#registerButton" ).click(function() {
  
      var un = $( "#username" ).val();
      console.log(un);
      
      var pw = $( "#pass" ).val();
      console.log(pw);
	  
	  var em = $( "#email" ).val();
      console.log(em);
      
      var at = $( "#acctype" ).val();
      console.log(acctype);
      
      $.post( "/backend", { type: "register", username:un, password:pw, email:em, acctype:at})
     .done(function( data ) {
        <!-- alert( "Data Loaded: " + data ); -->
		
		if(data == 'Customer'){
            window.location="/index#customer";
        }
        else if(data == 'Driver'){
            window.location="/index#driver";
        }
		else if(data == 'Manager'){
            window.location="/index#manager";
		}
		});  
});

// validating username and password - working
function validateElements(){
	
	
	var allOk = false;
	
	// check the login_username is not empty
	if($("#login_username").val() == ""){
	
		$("#loginNameError").html("Please enter in a username");
	}
	else{
		$("#loginNameError").html("");
		allOk = true;
	}
	
	// check the login_password is not empty 
	if($("#login_pass").val() == ""){
	
		$("#loginPasswordError").html("Please enter in a password");
		allOk = false;
	}
	else{
		$("#loginPasswordError").html("");
		
		allOk = true;
	}
	
	return allOk;
	
}

// logout - working
function logout() {
    var r = confirm("Do you really want to log out?");
    if (r) {
       window.location="/index"
    }
}


// api for weather for driver - working

var apiCall = 'http://api.openweathermap.org/data/2.5/weather?q=Dublin&units=metric&appid=ca92abf8765513423d12cfc3edd9116d';

$.getJSON(apiCall, weatherCallback);

function weatherCallback(weatherData){
	console.log(weatherData);

	var cityName = weatherData.name;
	var country = weatherData.sys.country;
	var description = weatherData.weather[0].description;
	var temp = weatherData.main.temp;
	var humidity = weatherData.main.humidity;
	var clouds = weatherData.clouds.all;
	
	$('#weatherResponse').append("<br>The weather in <b>" + cityName + "</b> ,<b>" + country + "</b> is currently:<br><table style='width: 100%'><thead><tr><th>Weather</th><th>Measurement</th></tr></thead><tbody><tr><td>Temp</td><td>" + temp + " oC</td></tr><br><tr><td>Humidity</td><td>" + humidity + "</td></tr><br><tr><td>Description</td><td>" + description + "</td></tr><br><tr><td>Clouds</td><td>" + clouds +"%</td></tr><br>");
	
}
</script>

</html>